body {
    background: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}

.my_photo {
    border: 3px solid #505050;
    border-radius: 50%;
    width: 100px;
    height: auto;
}

#title, .subtitle, .post_title {
    color: #505050;
    text-transform: uppercase;
}

.post {
    background: #fff;
    padding: 10px;
    border: 3px solid #505050;
    border-radius: 5px;
    margin: 10px;
}

.post_image {
    margin-bottom: 15px;
    width: 100%;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

a {
    text-decoration: line-through;
    color: #505050;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.contacts_list {
    list-style-type: none;
    padding-left: 15px;
}

.contacts_list li a {
    text-decoration: none;
}


/* ggg */